# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# PyTest
.pytest_cache/

# Coverage artifacts
htmlcov/
.coverage
.coverage.*
coverage.xml

# IDEs and editors
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local environment files
.env
.env.*

# Dev version
docker-compose.override.yml
mongo_db/